@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}
body {
    background-color: #ECF2F8;
}
article {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 74px 24px 81px 24px;
    background-color: #fff;
}
#second-sect {
    padding: 36px 32px 20px 32px;
}
h2 {
    font-weight: 700;
    font-size: 16px;
    color: #48556A;
    margin-bottom: 12px;
}
#first-para {
    font-weight: 500;
    font-size: 13px;
    color: #6E8098;
    margin-bottom: 32px;
    width: 98%;
}
#div-row {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
}
#flex-col {
    display: flex;
    flex-direction: column;
    padding-right: 43px;
}
#michelle {
    font-weight: 700;
    font-size: 13px;
    color: #48556A;
}
#date {
    font-weight: 500;
    font-size: 13px;
    color: #9DAEC2;
}
@media screen and (min-width: 320px) {
    article {
        flex-direction: row;
    }
}